@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@100;200;300;400;500;600;700;800;900');
@import url('https://fonts.googleapis.com/css2?family=REM:wght@100;200;300;400;500;600;700;800&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}

/* General layout */

.text-right {
    text-align: right;
}

.section-title {
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
}

h1, h2 {
    font-weight: 300;
}

h3 {
    font-size: 1.5em;
}
a, a:hover {
    color: #000000;
    font-weight: bold;
}

.info-box {
    width: 90%;
    border-radius: 25px;
    padding: 0px;
    margin-bottom: 20px;
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
}

.info-box-text {
    padding: 20px;
}

/* Navigation layout */

nav {
    color: black;
    background-color: lightblue;
}

/* Header section */

.heading {
    min-height: 240px;
    background-color: lightgray;
    background: url('../images/header-image.jpg');
    letter-spacing: 1px;
    color: white;
}

.heading-title {
    font-family: "REM", sans serif;
    font-weight: 300;
}

.heading-subtitle {
    font-family: "REM", sans serif;
    font-weight: 300;
}

.inline-block {
    display: inline-block;
}

/* About me section */

#main-image {
    border-radius: 50%;
    width:200px;
    height: 200px;
}

#about-me {
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 25px;
}

/* Reasons why box */

.reasons-box {
    min-height: 320px;
}
/* Offers */

#offers {
    margin-top: 25px;
}

.offer-title {
    text-align: center;
}

.offer-price {
    font-family: "REM", sans-serif;
    font-weight: bold;
    padding-top: 30px;
}

.info-box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.offer-box {
    min-height: 500px;
}

.offer-content {
    height: 450px;
}

/* Contact form */

#contact-me {
    margin-top: 25px;
}

.contact-title {
    margin-bottom: 0;
}

.contact-form {
    max-width: 600px;
    left: 10%;
    padding: 30px;
    margin: 0 auto;
}

.text-input {
    width: 100%;
    margin: 5px 0 20px 0;
}

.text-input:hover {
    border-color: blue;
}

/* Footer */

footer {
    background-color: lightblue;
    min-height:20px;
    margin: 0;
    color: black;
	padding: 1em;
	text-align: center;
    width: 100%;
    bottom: 0;
    right: 0;
}

/* Below taken from Code Institute lesson https://learn.codeinstitute.net/courses/course-v1:codeinstitute+FE+2017_T3/courseware/616289d66b5641a3808cc43e53842695/b51f7b8b815c4bcd9979d2281b6d97a9/?child=last */

.social-networks li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    border-radius: 50%;
    color: white;
    background: blue;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-networks li a i:hover {
    background-color: black;
}

.social-networks {
    margin-left: auto;
    margin-right: auto;
}

.list-inline {
    margin-top: 10px;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.footer-text {
    margin-top: 15px;
}

p.footer-text a {
    color: black;
}

/* Media queries */

@media screen and (max-width: 480px) {
	.heading-title {
		font-size: 24px;
	}

    .heading-subtitle {
        font-size: 18px;
    }

    #main-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 481px) and (max-width: 600px) {
	.heading-title {
		font-size: 36px;
	}

    .heading-subtitle {
        font-size: 28px;
    } 
    
    #main-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        clear: both;
    }

    .reasons-box {
        min-height: 240px;
    }
}

@media screen and (max-width: 601px) {
	.heading-title {
		font-size: 48px;
	}

    .heading-subtitle {
        font-size: 36px;
    }

    #main-image {
        display: block;
        float: right;
        margin-left: 15px;
    }
}

@media screen and (min-width: 601px) and (max-width: 991px) {
    .reasons-box {
        min-height: 180px;
    }
}